Description=Бот для тестового задания
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/${USER}/test_technesis
ExecStart=/home/${USER}/test_technesis/.venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
