[Unit]
Description=test_technesis
After=network.target

[Service]
User=tgbot
Group=tgbot
Type=simple
WorkingDirectory=/home/den/test_technesis
ExecStart=/home/den/test_technesis/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
